:root{
  --primary: red;
  --primary-lighten: rgb(245, 69, 98);
  --text-lighten: white;
}
*{
  box-sizing: border-box;
}
body{
  margin:0 0;
}

.left-column{
  width: 70vw;
  padding: 2rem 2rem;
  margin: 1rem 3rem;
}
.right-column{
  width: 30vw;
  margin-top: 2rem;
}
.image{
  max-width: 20vw;
  margin-top: 4rem;
}
.p-2{
  font-size: .75rem;
  margin-right: 1rem;

}

header{
  background-color: var(--primary);
  color: var(--text-lighten);
  margin: 0 0;
  padding: 1rem;
  text-align: center;
  border: 2px black;
  border-style: solid;
}

.leader{
  text-align: center;
  font-family: 'Aboreto', cursive;
}
.lt-red-box{
  background-color: var(--primary-lighten);
  height: 1rem;
  
}

footer{
  background-color: var(--primary);
  position: fixed;
  bottom: 0;
  height: 10vh;
  width: 100%;
  border: 2px black;
  border-style: solid;
}
.d-flex{
  display: flex;
}


